* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

/* Topbar  */

.leftbar span {
  position: relative;
  left: 10px;
  font-size: larger;
  font-weight: bold;
}

.topbarImg,
.apipics {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;

}

.topbarImg img,
.apipics img {
  width: 100%;
  height: 100%;
  border-radius: 50%;



}

.maincontainer {
  position: fixed;
  width: 100%;
  z-index: 100000;

  background: #2172da;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  color: white;
}

.midbar,
ul,
.rightbar {

  display: flex;
  align-items: center;
}

.midbar input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0em 2em;
}

.midbar .input {
  width: 450px;
  height: 30px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  padding: 0em 1em;
  overflow: hidden;

  color: rgb(88, 90, 91);
  background-color: white;
}

.midbar ul li {
  margin: 0em 1em;
  list-style: none;
}

.rightbar {
  width: 200px;
  justify-content: space-between;
  position: relative;
  right: 30px;

}

.rightbar .localicons {
  padding: 0em 0.5em;
}

.localicons {
  font-size: larger;

}

.icons {
  display: flex;
  width: 200px;

  position: relative;
}

.icons div {
  padding: 0em 0.8em;
  margin-top: 0.23em;
}

.icons sup {

  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 15px;
  text-align: center;


}